*
{
	padding: 0;
}
/* Параметры для "тела" документа */
body
	{
		background: #fff;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		background: url(header.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
/* Размеры для шапки */
.header
	{
		margin: 4% 0 0% 10%;
		height: 100%;
		width: 80%;
	}
/* Очищающий */
.clear
	{
		clear: both;
	}
/* Стиль для 1 слова заголовка */
p 
	{
		margin-left: 5%;
		margin-bottom: 2%;
		/* padding: 35px 0px 20px 160px; */
		font: 26pt 'Arial Unicode MS';
		color: #52450a;
		text-shadow: white 1px 1px 1px;
		letter-spacing: -1px;
	}
/* Стиль для 2 слова заголовка */
span
	{
		margin-left: 1%;
		font: 17pt 'Arial Unicode MS';
		color: #52450a;
		text-shadow: white 1px 1px 1px;
		letter-spacing: -1px;
	}
/* Стиль для карты сайта и rss */
lol
	{
		text-shadow: none;
		font: 10pt 'Arial Unicode MS';
		color: #000;
		float: right;
		margin-top:17px;
		margin-right: 5%;
		letter-spacing: 0px;
	}
/* Стиль для меню */
.list-menu
	{
		width: 100%;
		height: 20%;
		margin: 0% 0% 0% 2.3%;
		background: #ffde29;
		border-radius: 10px;
	}
/* Стиль для каждой иконки меню */
.list-menu li
	{
		display: block;
		float: left;
		height: 1.8em;
		width: 15.5%;
		color: #000;
		text-shadow: white 1px 1px 1px;
		font: 10pt 'Arial Unicode MS';
		text-align: center;
		padding-top: 6px;
		/*padding: 10px 42px 10px 42px;*/
		cursor: pointer;
		border-image: url(SEPARATOR1.png) 0 0 0 5;
		background: linear-gradient(to bottom, #ffe937, #ffd31b);
		box-shadow: #888 1px 1px 1px;
	}
/* Стиль для наведения на кнопку меню */
.list-menu li:hover
	{
		color: #888;
	}
/* Стиль для первой кнопки */
.list-menu li:first-child
	{
		border-image: url(border1.png) 0 0 0 9; 
		border-radius: 5px 0px 0px 5px;	
	}
/* Стиль для последней кнопки */
.list-menu li:last-child	
	{
		border-radius: 0px 5px 5px 0px;	
	}
/* Параметры и стиль для верхнего бокса */
.featurebox
	{
		background-image: url('Layer 16_1.png');
		background-position: left;
		background-size: cover;
		border-radius: 7px;
		background-repeat: no-repeat;
		height: 15%;
		width: 72%;
		margin-top: 3%;
		position: relative;
		left: 13%;
	}
/* Стиль для заголовка 1 уровня */
h1
	{
		margin: 0;
		padding: 3% 0% 0% 5%;
		font: 20pt 'Arial Unicode MS';
		color: #52450a;
		text-shadow: white 1px 1px 1px;
		letter-spacing: -1px;
		
	}
/*Параметры для фона левого текста */
.kavichky
	{
		/* padding: 10px 10px 30px 10px; */
		margin: 0% 2% 0% 4%;
		background-image: url(copy.png);
		background-size: 390px;
		background-position: left;
		background-repeat: no-repeat;
	}
/* Стиль для основного текста*/
.lorem
	{
		margin: 0%;
		padding: 33px 10px 10px 35px;
		font: 10pt 'Georgia';
		font-style: italic;
		letter-spacing: 1px;
		line-height: 1.5;
		color: #494949;
		text-shadow: none;
	}
/*Стиль для вспомогательного текста*/
/* .aptent */
kak
	{
		/* position: relative;
		margin-top: 0;
		margin-left: 4%; */
		padding: 0px 0 29px 0%;
		font: 8pt 'Georgia';
		line-height: 1.5;
		font-weight: 900;
		color: #494949;
		text-shadow: none;
		letter-spacing: 0.5px;
	}
/*Параметры для картинки в верхнем боксе */
.pechenka
	{
		position: relative;
		margin: -22% 0 0 48%;
		/*left: 45%;
		top: -50%;*/
		width: 50%;
	}
/*Параметры для левого блока в контенте*/
.chocolate
	{
		margin: 2% 2% 0% 4%;
		background-color: #f1f5f6;
		border-radius: 7px;
		width: 22%;
		position: relative;
		left: 10%;
		float: left;
	}
/*Стиль для заголовка 2 уровня */
h2
	{
		margin: 0;
		padding: 3% 0% 0% 7%;
		font: 17pt 'Georgia';
		color: #52450a;
	}
/*Стиль для основного текста в левом и среднем блоках контента */
.dolor
	{
		margin: 0%;
		padding: 4% 2% 0% 7%;
		font: 10pt 'Georgia';
		color: #494949;
		line-height: 1.5;
		text-shadow: none;	
	}
/*Стиль для вспомогательного текста в левом  и среднем блоках контента */
.diam
	{
		margin-top: 1%;
		margin-left: 4%;
		padding: 4% 2% 5% 3%;
		font: 9pt 'Georgia';
		font-weight: 900;
		text-decoration: underline;
		line-height: 1.5;
		color: #494949;
		text-shadow: none;
		letter-spacing: 0.5px;
	}
/*Параметры картинки в левом блоке контента */
.choco
	{
		position: absolute;
		left: 57%;
		top: 29%;
		width: 50%;	
	}
/*Параметры для среднего блока контента */
.milk
	{
		margin: 2% 2% 0% 10%;
		background-color: #f1f5f6;
		border-radius: 7px;
		width: 22%;
		height: 29%;
		position: relative;
		float: left;
	}
.middlecontent
	{
	position: relative;
	}
/*Параметры картинки среднего блока контента*/
.miilk
	{
		position: absolute;
		left: 57%;
		top: -3%;
		width: 50%;	
	}
/*Стиль для заголовка 3 уровня */
h3
	{
		margin: 5% 0 0 2%;
		padding: -2% 0 0 0;
		font: 8pt 'Georgia';
		color: #2e586d;	
		font-weight: 900;
	}
/*Параметры правого блока контента */
.news
	{
		margin: 0% 2% 0% 0%;
		width: 22%;
		height: 28.2%;
		position: relative;
		float: left;	
	}
/*Стиль для основного текста верхнего подблока правого блока  */
.dolor2
	{
		margin: 0%;
		padding: 1% 2% 0% 2%;
		font: 9pt 'Georgia';
		color: #494949;
		line-height: 1.5;
		text-shadow: none;	
		letter-spacing: 0.5px;
	}
/* Стиль для вспомогательного текста верхнего подблока правого блока контента */
diam2
	{
		margin-top: 0%;
		padding: 0% 2% 5% 0%;
		font: 8pt 'Georgia';
		font-weight: 900;
		text-decoration: underline;
		line-height: 1.5;
		color: #494949;
		text-shadow: none;
		letter-spacing: 1px;
	}
/* Стиль для заголовка правого подблока */
h
	{
			
		font: 17pt 'Georgia';
		color: #52450a;
	}
/* Стиль картинки над правым блоком контента */
.rss
	{
	/*  position: relative; */
		/* margin: 1% 0 0 50%; */
		padding: 0% 0% 0% 10%;
		width: 6%;		
	} 

/* Стиль для текста над правым блоком контента */
.get
	{
		/* float: right;
		margin: -5.5% -17% 0 0%;
		right: 0%;
		left: 60%;
		top: -5%;
		width: 50%; */
		font: 9pt 'Georgia';
		color: #494949;
		text-shadow: none;
		letter-spacing: 0.5px; 
	}
/* Параметры для линии */
hr
	{
		width: 90%;
		margin: 0 0 0 0;
	}
/*Параметры для подблока правого блока*/
.heading
	{
		position: relative;
		left: 6%;
		margin: 12% 0 0 0;
		width: 124%;	
		font: 9pt 'Georgia';
		color: #494949;
		text-shadow: none;
		letter-spacing: 0.5px;	
	}
	/* Стиль для заголовка 4 уровня */
h4
	{
		margin: 0 0 0 2%;
		padding: -2% 0 0 0;
		font: 8pt 'Georgia';
		color: #2e586d;	
		font-weight: 900;
	}
	/* Параметры для нижнего подблока правого блока */
.heading2
	{
		position: relative;
		padding: 6% 0 0 5%;
		width: 124%;	
		font: 9pt 'Georgia';
		color: #494949;
		text-shadow: none;
		letter-spacing: 0.5px;	
	}
/* Параметры для верхнего подблока правого блока */
.heading3
	{
		position: relative;
		padding: 6% 0 0 0;
		left: 4%;
		width: 124%;	
		font: 9pt 'Georgia';
		color: #494949;
		text-shadow: none;
		letter-spacing: 0.5px;	
	}
/* Стиль для основного текста нижнего подблока правого блока */
.dolor3
	{
		margin: 0%;
		padding: 1% 2% 0% 8%;
		font: 9pt 'Georgia';
		color: #494949;
		line-height: 1.5;
		text-shadow: none;	
		letter-spacing: 0.5px;
	}
	/* Стиль для вспомогательного текста нижнего подблока правого блока */
.diam3
	{
		margin-top: 0%;
		padding: 0% 2% 5% 5%;
		font: 8pt 'Georgia';
		font-weight: 900;
		text-decoration: underline;
		line-height: 1.5;
		color: #494949;
		text-shadow: none;
		letter-spacing: 1px;
	}
	/* Параметры для футера */
.footer
	{
		width: 80%;
		height: 100%;
		background-image: url(footer.png);
		background-repeat: no-repeat;
		background-size: 106%;
		margin: 1% 13% 0% 12.5%;
	}
	/* Параметры для левого блока футера */
.mission1
	{
		position: relative;
		float: left;
	}
	/* Стиль для левого заголова в футере */
.mission
	{
		
		padding: 5% 0% 0% 8%;
		font: 17pt 'Georgia';
		color: #52450a;
		text-shadow: none;
		letter-spacing: 0.5px;
	}
	/* Стиль для основного текста в левой части футера*/
.eu
	{
		margin: -1% 0 0 13%;
		background-color: #fbe46b;
		border-radius: 7px;
		color: #52450a;
		padding: 1%;
		width: 96%;
		position: relative;
		font: 9pt 'Georgia';
		letter-spacing: 1px;
		line-height: 1.5;
		text-shadow: none;
	}
	/* Параметры для списка в футере*/
.list
	{
		list-style-type: none;
		margin: 0.5% 0 0 10%;
	}
	/* Стиль для списка в футере */	
.list li
	{
		
		padding: 1% 0% 1.5% 5%;
		width: 80%;
		color: #52450a;
		position: relative;
		font: 9pt 'Georgia';
		letter-spacing: 1px;
		text-shadow: none;
	}
	/* Параметры для правого блока футера */
.chat
	{
	position: relative;
	float: right;
	padding: -60% 0 0 0;
	width: 50%;
	}
	/*Стиль для заголова 5 уровня */
h5
	{
		margin: 7.5% 60% 0 0%;
		font: 17pt 'Georgia';
		color: #52450a;
		text-shadow: none;
		letter-spacing: 0.5px;
		width: 100%;
	}
	/* Стиль для правого подзаголовка футера */
fancy
	{
		padding: 0% 0% 0% 2%;
		font: 9pt 'Georgia';
		color: #52450a;
		text-shadow: none;
		letter-spacing: 0.5px;
	}
/* Стиль для заголова формы отправки сообщений */
.mes
	{
		margin: 3% 0 0 0.5%;
		position: relative;
		padding: 0% 0% 0% -10%;
		font: 9pt 'Georgia';
		color: #52450a;
		font-weight: 900;
		text-shadow: none;
		letter-spacing: 0.5px;
	}
/* Стиль для формы отправки сообщений */
.inp1
	{
		position: relative;
		padding: 0% 0% 10% 0%;
		margin: 0% 0 0 4%;
		width: 74%;
		border-color: #f4d00c;
		border-style: solid;
		background-color: #fdf6ce;
	}
/* Стиль для заголова формы мыла */
.mail
	{
		margin: 3% 0 0 0.5%;
		position: relative;
		padding: 0% 0% 0% -10%;
		font: 9pt 'Georgia';
		color: #52450a;
		text-shadow: none;
		letter-spacing: 0.5px;
	}
/* Стиль для формы мыла */
.inp2
	{
		position: relative;
		padding: 0% 0% 3% 0%;
		margin: 0% 0 0 15%;
		width: 60%;
		border-color: #f4d00c;
		border-style: solid;
		background-color: #fdf6ce;
	}
/* Стиль для кнопки отправки формы */
.send
	{
		width: 6%;
		height: 4%;
		padding: 0% 0% 3% 20%;
		position: relative;
		border-radius: 10px;
		display: block;
		color: #52450a;
		font: 10pt 'Arial Unicode MS';
		text-align: center;
		padding: 5px 0 0 0;
		cursor: pointer;
		text-shadow: white 1px 1px 1px;
		background: linear-gradient(to bottom, #ffe937, #ffd31b);
		box-shadow: #888 1px 1px 1px;
		text-decoration: none;
	}
/* Стиль при наведениии на кнопку */
.send:hover
	{
		color: #888;
	}
/* Стиль для линии */
.hr
{
	color: #f4d00c;
	width: 94%;
	margin-left: 3%;
}
/* Параметры картинки в копирайте */
.home
{
	position: relative;
	left: 15%;
	top: 128%;
	width: 1%;	
}
/* Стиль для копирайта */
.copy
{	
	margin: 0%;
	padding: 0.2% 2% 2% 5%;
	font: 8pt 'Georgia';
	color: #52450a;
	line-height: 1.5;
	text-shadow: none;	
	letter-spacing: 0.5px;
}
/*Стиль для правой части копирайта */
.pr
{
	position: relative;
	width: 20%;	
	font: 8pt 'Georgia';
	letter-spacing: 1px;
	color: #52450a;
}