*
{
	margin:0;
	padding:0 ;
}
body
{
	background: linear-gradient(to top, #c1ffc1, #2e8b57);
	background-size: cover;
	height: 100%;
}
b
{
	color: white;
	font: 24pt 'Comic Sans MS'; 
	text-shadow: black 3px 1px 1px;
}
.S
{
	width: 100%;
	border: black 1px solid;
	border-color: green;
	border-width: 1px;
	border-collapse: collapse;
}
td
{
	padding: 10px 0px 10px 0px;
	font: 15pt 'Comic Sans MS';
	text-shadow: green 1px 1px 1px;
	border: black 1px solid;
	border-width: 1px;
	border-collapse: collapse;
	padding: 5px 5px 5px 5px ;
	text-align: left;
	vertical-align: top;
}
.ok
{
	padding: 10px 0px 10px 0px;
	font: 15pt 'Comic Sans MS';
	text-shadow: green 1px 1px 1px;
	border: black 1px solid;
	border-width: 1px;
	border-collapse: collapse;
	padding: 5px 5px 5px 5px ;
	vertical-align: top;
	text-align: center;
}
.oke
{
	font-weight: 900;
}
tr:hover
{
	background-color: #bbbbbb;
}
tr:first-child:hover
{
	background-color: transparent;
}